@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:ital,wght@0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200;300&family=Roboto:ital,wght@0,700;0,900;1,900&display=swap');

body {
    background-color: black;
    font-family: 'Montserrat';
    color: aliceblue;
    display: grid;
    border: 1px solid #fff ;
    margin: 30px 30px;
    
    
}
nav {
    justify-content: space-between;
    display: flex;
    padding: 15px;

}
nav a {
    text-decoration: none;
    padding: 15px;
    color: aliceblue;


}
#top {
    font-size: 20px;
    font-weight:900;
    color: #fff;
}
#evan {
    font-size: 13px;
}
#ok button {
    background-color: greenyellow;
    color: black;
    text-transform: capitalize;
    padding: 8px;
    border: none;
    font-weight: 700;
}
#learn {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
    padding: 5px;
    
}
#learn button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    
}
#luck {
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}
h1 {
   font-size: 50px;
   font-weight: 900 ;
}
#btt {
    display: flex;
    justify-content: center;
    margin: 15px;
}
#joker button {
    background-color: greenyellow;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;

}
#moun button {
    background-color: black;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #fff;
}
#cent h3 {
    text-align: center;
    font-weight: bolder;
}
#grille {
    display: grid;
    width: 300px;
    height: auto;
    grid-template-columns: repeat(3,300px);
    grid-gap: 20px;
    margin-left: 120px;
    margin-bottom: 20px;

}
#one {
    border: 1px solid white;
    padding: 20px 50px;
}